/*!
(
  axes: {
    "left_paddle": Emulated(pos: Key(W), neg: Key(S)),
    "right_paddle": Emulated(pos: Key(Up), neg: Key(Down)),
  },
  actions: {},
)
*/

(
  axes: {
    "y_axis": Emulated(pos: Key(W), neg: Key(S)),
    "x_axis": Emulated(pos: Key(A), neg: Key(D)),
  },
  actions: {
    
  },
)